# Node
node_modules/
dist/
build/
tmp/

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Env
.env
.env.*
!.env.example
!.env.template

# Temp
.temp/
.tmp/